# Bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Notebooks (optional)
*.ipynb
Notebooks/

# Ignore large datasets — unless needed at runtime
*.csv
*.tsv
*.xlsx
*.h5
*.npy
data/



# DVC / MLflow
.mlflow/
.dvc/
dvc.lock
*.dvc
.cache/


# Streamlit/temp files
*.db
*.log

# OS & IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Git files
.git/
.gitignore

# MLflow local runs directory
mlruns/

# Custom logs or tracking files
logs/
README.md
reports/
WindowsPowerShell/